<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>select</servlet-name>
		<servlet-class>select</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>select</servlet-name>
		<url-pattern>/select</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Insert</servlet-name>
		<servlet-class>Insert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Insert</servlet-name>
		<url-pattern>/Insert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>

